:root {
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
  --white: white;
  --container: 1240px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100%;
  width: 100%;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: var(--very-dark-blue);
  overflow-x: hidden;
}

#root {
  max-width: var(--container);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

@media (min-width: 1000px) {
  body {
    font-size: 18px;
  }
}
