.btn {
  display: inline-block;
  border: 2px solid transparent;
  font: inherit;
  cursor: pointer;
  padding: 0.75em 1em;
  border-radius: 5px;
  box-shadow: rgba(83, 104, 223, 0.2) 0px 8px 10px 1px;
  transition: .3s;
}

.btn.full {
  width: 100%;
}

.btn.primary {
  border-color: var(--soft-blue);
  background-color: var(--soft-blue);
  color: var(--white);

  &:hover {
    background-color: var(--white);
    color: var(--very-dark-blue);
  }
}

.btn.secondary {
  &:hover {
    border-color: var(--soft-blue);
    background-color: var(--white);
  }
}

.btn.outlined {
  background-color: transparent;
  border-color: inherit;
}
